body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #eb80ae;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.intro {
    width: 100%;
    height: 100vh;
    background: url(".//img/bcc.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;



}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__logo {
    font-size: 39px;
    font-weight: 700;
    color: rgb(199, 93, 79);
}
.nav {
    font-size: 16px;
    text-transform: uppercase;
    

}
.navlink {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
    color: seashell;
    text-decoration: none;
    transition: color .2s linear;

}
.navlink::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: #fdfd96;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}
.navlink:hover {
    color: #fdfd96;
}
.navlink:hover:after {
    opacity: 1;
    
}

.port {
    padding-top: 50px;
    padding-bottom: 50px;
    
    
}
.port img {
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
    display: block;

}
